*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    background-color: rgb(255, 237, 237);
}

.content{
    padding: 1rem 2rem;
    border-radius: 1.2rem;
    background: black;
    box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.8);
}
